{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Création{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'index.css' %}" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{% static 'crud.css' %}" media="none" onload="if(media!='all')media='all'">
{% endblock style %}

{% block content %}
	<form action="" method="post">{% csrf_token %}
		{% bootstrap_form form layout='horizontal' %}
		{% buttons %}
			<input type="submit" class='btn btn-success' value="Enregistrer" />
			<a href='./' class='btn btn-secondary'>Annuler</a>
		{% endbuttons %}
	</form>
{% endblock content %}

{% block script %}
  <script src="{% static 'crud.js' %}" async></script>
  {{ form.media }}
{% endblock script %}
