{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block style %}
  <link rel="stylesheet" href="{% static 'index.css' %}" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{% static 'list.css' %}" media="none" onload="if(media!='all')media='all'">
{% endblock style %}

{% block title %}
  Liste
{% endblock title %}

{% block content %}
  {% csrf_token %}
  {% if filter %}
    <div class="filters alert">
      <form action="" method="get" class="form form-row">
          {% bootstrap_form filter.form layout='inline' %}
          {% buttons submit='Filtrer' layout='inline' %}{% endbuttons %}
      </form>
  </div>
  {% endif %}
  <div>
    <a class="create" href='./create' class="btn btn-light">
      Nouvel Ajout
    </a>
  </div>
  {% render_table table %}
  {% include "modals/file_upload.html" %}
{% endblock content %}

{% block script %}
  <script src="{% static 'list.js' %}" async></script>
  <script src="{% static 'crud.js' %}" async></script>
{% endblock script %}
