input {
    width: 100%;
    text-align: center;
}

h3.panel-title {
    text-align: center;
}

#content-container {
    width: 50%;
    border-radius: 20px;
    padding: 40px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    background-color: white;
}

body {
    background-color: #78a4c2;
}

img#Logo {
    float: right;
}

.h2,
h2 {
    margin-top: -25%;
}

.headerAll,
#headerRow,
.navbar {
    display: none;
}
